* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* body {
  background: red;
} */
body {
  height: 100vh;
}
/**aspect-ratio on img tag  */
.first_art {
  padding: 5px;
}
.first_art img {
  width: 50%;
  aspect-ratio: 4/4;
}
/**Stars  */
.star-rating {
  width: min(90%, 350px);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.star {
  width: 50px;
  height: 45px;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  background-color: #262626;
  transform: rotateX(50deg);
  cursor: pointer;
  transition: transform 150ms ease-in;
  outline: none;
}

.star.rated {
  background: #ffea00;
  transform: rotateX(0);
}

/* * Cards reactions */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  height: 100vh;
}

.elon,
.mark,
.jeff {
  margin: 10px;
  filter: grayscale(50%);
}

.elon:hover,
.mark:hover,
.jeff:hover {
  margin: 40px;
  filter: grayscale(0%) brightness(85%);
  box-shadow: -12px 10px 16px #ffffff;
}

.elon {
  background: url("./unlimited2.png") center center no-repeat;
  background-size: 300px;
  height: 379px;
  width: 300px;
  transition: 0.75s ease-in;
}

.elon:hover {
  background: url("./unlimited2.png") center top no-repeat;
  background-size: 600px;
  border-radius: 30px;
}

.jeff {
  background: url("./unlimited2.png") center center no-repeat;
  background-size: 300px;
  height: 379px;
  width: 300px;
  transition: 0.75s ease-in;
}

.jeff:hover {
  background: url("./unlimited2.png") center top no-repeat;
  background-size: 600px;
  border-radius: 30px;
  transform: perspective(23rem);
}

.mark {
  background: url("./unlimited2.png") center center no-repeat;
  background-size: 300px;
  height: 379px;
  width: 300px;
  transition: 0.75s ease-in-out;
}

.mark:hover {
  background: url("./unlimited2.png") center top no-repeat;
  background-size: 600px;
  border-radius: 30px;
}
.fa-facebook-f {
  color: blue;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
}

.social-icons a i {
  color: hsl(354, 93%, 59%);
  font-size: 28px;
}

.social-icons a i:hover {
  color: hsl(354, 93%, 75%);
  transform: scale(1.1);
}

.social-icons {
  position: absolute;
  display: flex;
  background: transparent;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 50%;
  top: 80%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.elon:hover .social-icons {
  transform: translateX(0%);

  opacity: 1;
  opacity: 1;
}
.mark:hover .social-icons {
  opacity: 1;
}
.jeff:hover .social-icons {
  opacity: 1;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .elon:hover,
  .jeff:hover,
  .mark:hover {
    background-size: 300px;
  }
}
